mixin post_card(data)
	- picture = data.picture;
	- title = data.title;
	- href = data.href || '#';
	- author = data.author;
	- date = data.date;
	- tags = data.tags;
	- commit = data.commit;
	- count = data.count; 
	- ico = data.ico;

	article.post
		a.post__link(href=href)
			+picture(picture)
		.post__descr 
			a.post__title(href=href)= title
			.post__info
				p.post__author= author
				p.post__date= date
			+tags_list(tags)
			a(href=commit).post__commit
				span.post__count= count
				span.post__icon
					+icon(ico)
